body
{
    background-image: url('https://wallpaperaccess.com/full/527783.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    background-color: #000000;
    margin-bottom: 5cm;
    height: 100%;
}
.text
{
    color: white;
    text-align: center;
    font-family: 'Roboto',Times, serif;
    font-size: 125%;
}
#title
{
    padding-top: 15%;
    font: bolder;
    font-family: 'Roboto Slab', Times, serif;
    font-size: 400%;
    text-align: center;
    color: white;
    text-decoration: underline;
}
.mid{
    text-align: center;
}
.btn btn-light
{
    padding-right: 2%;
}
.navbar-custom
{
    background-color: #000000;
}
.navtxt
{
   font-size: x-large;
}
@media(max-width: 1000px)
{
    #title
{
    padding-top: 50%;
    font: bolder;
    font-family: 'Roboto Slab', Times, serif;
    font-size: 200%;
    text-align: center;
    text-decoration: underline;
}
}
